.product {
  padding: 105px 0 120px;
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px 30px;
  }
  &__link {
    width: 170px;
    text-align: center;
    text-transform: uppercase;
    color: $title-color;
    border: 1px solid $accent-color;
    padding: 14px 27px;
    margin: 55px auto;
    grid-column-start: 2;
  }
}

.product-item {
  max-width: 370px;
  text-align: center;
  &.product-item--list {
    min-width: 100%;
    display: flex;
    text-align: left;
    &:hover {
      .product-item__link-box{
        transform: translateY(-280%);
      }
    }
    .product-item__box {
      display: flex;
      flex-wrap: wrap;
    }
    .product-item__title {
      padding: 0;
      margin-bottom: 10px;
      order: -1;
      width: 100%;
    }
    .product-item__price {
      order: -1;
      margin-left: -12px;
    }
    .product-item__text {
      margin-bottom: 25px;
    }
    .product-item__btn {
      background-color: $title-color;
      color: #fff;
      padding: 11px 40px;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $accent-color;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, .3);
      }
    }
    .star {
      margin-left: 23px;
    }
    .product-item__img-box {
      height: 250px;
      min-width: 200px;
      margin-bottom: 0;
      img {
        height: 250px;
      }
    }
    .product-item__wrapper-box {
      padding: 30px 40px;
      border: 1px solid #ececec;
      border-left: none;
    }
    .product-item__link-box {
      background-color: transparent;
      width: 115px;
      box-shadow: none;
      bottom: auto;
      .product-item__link {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .product-item__link-cart {
        display: none;
      }
    }
    .product-item__content-box {
       display: block;
    }
  }
  &__content-box {
    display: none;
  }
  &__img-box {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 25px;
  }
  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: #fff;
    width: 212px;
    height: 50px;
    margin: 0 auto;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__link-cart::before,
  &__link-cart::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 30px;
    background-color: #ececec;
    top: 10px;
  }
  &__link-cart::before {
    left: 70px;
  }
  &__link-cart::after {
    right: 70px;
  }
  &__link {
    display: inherit;
    path {
    transition: all .3s;
    }
  }
  &__link:hover {
    path {
      fill: $accent-color;
    }
  }
  &__images {
    object-fit: cover;
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
  &__title {
    color: $title-color;
    padding: 15px 0 20px;
  }
  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }
  &__new-price {
    padding: 0 12px;
    color: $title-color;
  }
  &__old-price {
    padding: 0 12px;
    text-decoration: line-through;
  }
  &--sale {
    .product-item__img-box::before {
      content: 'SALE';
      position: absolute;
      @extend %btn;
      top: 25px;
      left: 25px;
      padding: 8px 10px;
      line-height: 1;
    }
  }
}

.star {
  display: flex;
  margin: 0 auto;
}


@media (max-width: 1050px) {
  .product {
    &-item {
      &__img-box {
        height: 305px;
      }
    }
  }
}

@media (max-width: 860px) {
  .product {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
    &__link {
      display: block;
    }
  }
}

@media (max-width: 620px) {
  .product {
    padding: 60px 0;
    &__items {
      display: block;
    }
    &-item {
      max-width: 100%;
      &__images {
        width: 100%;
        margin-top: 10px;
      }
    }
    &__link {
      display: block;
    }
  }
}