@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    text-transform: uppercase;
    color: $title-color;
    text-decoration: none;
    padding-bottom: 3px;
    transition: all .1s;
    @extend %roboto-400;
    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
      @extend %roboto-700;
    }
  }
  &__list-link--active {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
    padding-bottom: 3px;
    @extend %roboto-700;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link + .user-nav__link {
    padding-left: 25px;
  }
  &__num {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -9px;
    right: -14px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    border-radius: 50%;
    text-align: center;
    background-color: $accent-color;
  }
}

footer {
  background-color: $bg;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  &__title {
    @extend %roboto-700;
    color: $title-color;
    font-size: 22px;
    margin-bottom: 35px;
  }
  &__address,
  &__email,
  &__phone {
    line-height: 36px;
    @extend %quicksand-500;
    font-size: 16px;
    display: block;
  }
  &__phone {
    margin-bottom: 40px;
  }
  & .logo__img {
    margin-bottom: 30px;
  }
  &__social-list {
    display: flex;
  }
  &__social-link {
    fill: $default-color;
    &:hover {
      fill: $accent-color;
      transition: all .3s;
    }
  }
  &__link {
    line-height: 36px;
  }
  &__social-item + .footer-top__social-item {
    padding-left: 20px;
  }
  &__item {
    list-style: none;
  }
  &__contact {
    width: 250px;
    margin-right: 50px;
  }
  &__nav {
    width: 170px;
    margin-right: 30px;
  }
  &__item-form {
    max-width: 470px;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__input {
    width: 320px;
    border: none;
    margin-right: 10px;
    padding: 12px 0 12px 20px;
    box-shadow: 5px 5px 10px rgba(192,192,192,.3);
  }
  &__form-btn {
    @extend %btn;
    border: none;
    padding: 7px 20px;
    line-height: 36px;
    cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  &__accept {
    display: flex;
  }
  &__accept-img {
    padding-left: 25px;
  }
}

.top-slider {
  background-image: url(../images/top-slider-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: $bg;
  padding: 65px 0 45px;
  &__container {
    max-width: 1520px;
  }
  &__content {
    padding-left: 175px;
    padding-top: 125px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__title {
    max-width: 670px;
    @extend %roboto-700;
    font-size: 58px;
    line-height: 68px;
    color: $title-color;
    margin-bottom: 35px;
  }
  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__link {
    @extend %btn;
    padding: 14px 36px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    li {
      padding: 0 5px;
      button {
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid transparent;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default-color;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    & .slick-active {
      button {
        border-color: $accent-color;
        &::before {
          background-color: $accent-color;
        }
      }
    }
  }
}

.categories-info {
  padding: 120px 0;
  background-image: url(../images/categories/categories-left-bg.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  &__inner {
    background-image: url(../images/categories/categories-right-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
  }
  &::before {
    background-image: url(../images/categories/shape1.png);
    width: 120px;
    height: 121px;
    top: -40px;
    left: -45px;
  }
  &::after {
    background-image: url(../images/categories/shape2.png);    
    bottom: -24px;
    right: -23px;
    width: 65px;
    height: 52px;
  }
  &__item {
    width: 370px;
    padding: 60px 30px;
    box-shadow: 20px 0px 60px 0px rgba(202,202,202,.35);
    background-color: #fff;
    &-title {
      margin: 35px 0 10px;
      color: $title-color;
      line-height: 22px;
      @extend %roboto-400;
    }
  }
}

.categories {
  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 40px 40px;
    &-title {
      color: $title-color;
      @extend %roboto-400;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 10px;
    }
    & .categories__item-link {
      @extend %roboto-400;
      color: #373635;
      text-transform: uppercase;
      transition: all .3s;
      border-bottom: transparent;
      padding-bottom: 4px;
    }
    & .categories__item-link:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
      padding-bottom: 4px;
    }
    &:nth-child(1)  {
      grid-row: span 2;
      .categories__item-subtitle {
        color: #5800e4;
      }
    }
    &:nth-child(2)  {
      grid-column: span 2;
      padding: 100px 40px;
      .categories__item-subtitle {
        color: $accent-color;
      }
    }
    &:nth-child(3) {
      .categories__item-subtitle {
        color: #ffcf63;
      }
    }
    &:nth-child(4) {
      .categories__item-subtitle {
        color: #a2dcf4;
      }
    }
  }
}

.video {
  background-color: $bg;
  background-image: url(../images/video-pattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 125px 0;
  &__inner {
    display: flex;
  }
  &__popup {
    max-width: 530px;
    height: 480px;
    width: 100%;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__content {
    max-width: 570px;
  }
  &__subtitle {
    padding-top: 75px;
    font-size: 22px;
    color: $accent-color;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__title {
    text-align: left;
  }
  &__text {
    margin-bottom: 55px;
  }
  &__link {
    @extend %btn;
  }
}

.product {
  padding: 105px 0 120px;
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px 30px;
  }
  &__link {
    width: 170px;
    text-align: center;
    text-transform: uppercase;
    color: $title-color;
    border: 1px solid $accent-color;
    padding: 14px 27px;
    margin: 55px auto;
    grid-column-start: 2;
  }
}

.product-item {
  max-width: 370px;
  text-align: center;
  &__img-box {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 25px;
  }
  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: #fff;
    width: 212px;
    height: 50px;
    margin: 0 auto;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__link-cart::before,
  &__link-cart::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 30px;
    background-color: #ececec;
    top: 10px;
  }
  &__link-cart::before {
    left: 70px;
  }
  &__link-cart::after {
    right: 70px;
  }
  &__link {
    display: inherit;
    path {
    transition: all .3s;
    }
  }
  &__link:hover {
    path {
      fill: $accent-color;
    }
  }
  &__images {
    object-fit: cover;
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
  &__title {
    color: $title-color;
    padding: 15px 0 20px;
  }
  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }
  &__new-price {
    padding: 0 12px;
    color: $title-color;
  }
  &__old-price {
    padding: 0 12px;
    text-decoration: line-through;
  }
  &--sale {
    .product-item__img-box::before {
      content: 'SALE';
      position: absolute;
      @extend %btn;
      top: 25px;
      left: 25px;
      padding: 8px 10px;
      line-height: 1;
    }
  }
}

.star {
  display: flex;
  margin: 0 auto;
}

.promo {
  background-image: url(../images/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 150px 0 160px;
  text-align: center;
  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }
  &__subtitle {
    color: $accent-color;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
  }
  &__clock {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }
  &__clock-item {
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, .3);
    span {
      font-size: 48px;
      @extend %roboto-700;
      margin: 12px 0 7px;
      color: $title-color;
    }
  }
  &__text {
    
  }
  &__link {
    text-transform: uppercase;
    color: $title-color;
    display: inline-block;
    border: 1px solid $accent-color;
    padding: 14px 27px;
    margin-top: 55px;
  }
}

.partners {
  padding-top: 75px;
  &__list {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.blog {
  padding: 50px 0 160px;
  background-image: url(../images/blog/blog-bg.png);
  background-repeat: no-repeat;
  background-position:  center center;
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    border: 1px solid #ececec;
    transition: all .3s;
    &-imglink {
      display: block;
      img {
        height: 288px;
        object-fit: cover;
      }
    }
    &:hover {
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, .3);
      border: none;
    }
    &-box {
      padding: 30px 40px;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &-author,
    &-date {
      position: relative;
      padding-left: 30px;
      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 4px;
      }
    }
    &-author::before {
      background-image: url(../images/blog/user-icon.svg);
    }
    &-date::before {
      background-image: url(../images/blog/date-icon.svg);
    }
    &-title {
      @extend %roboto-400;
      color: $title-color;
      font-size: 22px;
      margin-bottom: 20px;
    }
    &-link {
      position: relative;
      transition: all .3s;
      &::before {
        position: absolute;
        width: 10px;
        height: 8px;
        background-image: url(../images/blog/arrow.svg);
        top: 7px;
        right: -15px;
      }
      &:hover {
        color: $accent-color;
        path {
          fill: $accent-color;
        }
      }
    }
  }
}

@import 'media';