.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    text-transform: uppercase;
    color: $title-color;
    text-decoration: none;
    padding-bottom: 3px;
    transition: all .1s;
    @extend %roboto-400;
    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
      @extend %roboto-700;
    }
  }
  &__list-link--active {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
    padding-bottom: 3px;
    @extend %roboto-700;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link + .user-nav__link {
    padding-left: 25px;
  }
  &__num {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -9px;
    right: -14px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    border-radius: 50%;
    text-align: center;
    background-color: $accent-color;
  }
}