.partners {
  padding-top: 75px;
  &__list {
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 620px){
  .partners {
    padding: 60px 0;
    &__list {
      display: grid;
      grid-gap: 10px 0;
      grid-template-columns: repeat(3, 1fr);
    }
    &__item {
      display: flex;
      justify-content: center;
    }
  }
}